<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Formatted Hits</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      html {
        font-size: 12px;
      }
      body { 
        color: #222;
        font-family: monospace;
      }
      h2 {
        font-size: 14px;
        color: cornflowerBlue;
      }
      .hits-table th, .hits-table td {
        text-align: center;
      }
      .hits-table th {
        font-weight: normal;
        color: #999;
      }
      .hits-table th, .hits-table tr:not(:last-child) td {
        border-bottom: 1px solid #ccc;
        padding: 3px;
      }
      .range {
        width: 115px;
      }
      .trunc {
        width: 10px;
        font-weight: bold;
        color: tomato;
      }
      .name {
        text-align: left;
        color: darkOrange;
        font-weight: bold;
      }
      .accession {
        color: #999;
      }
      .scaffold-hits {
        padding: 15px;
        margin-bottom: 4px;
        border: 1px solid silver;
        border-radius: 3px;
        box-shadow: 2px 2px 2px #ddd;
      }
      tr:not(.low-evalue) > td {
        background-color: #ffcccc;
      }
      tr.accessory > td {
        background-color: #ddf5ff;
      }

      .gene {
        width: 100%;
        margin-bottom: 2px;
      }
      .gene__match {
        background-color: tomato;
        border-radius: 2px;
        height: 4px;
      }
      .gene__name {
        font-size: 10px;
        color: silver;
      }
      .gene__match.low-evalue {
        background-color: limeGreen;
      }
      .gene__match.accessory {
        background-color: cornflowerBlue;
      }

      .gene-viz {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        height: 15px;
        background-color: ghostWhite;
        border: 1px solid silver;
        border-radius: 2px;
      }
      .gene-viz__match {
        height: 15px;
        opacity: 0.7;
      }
      .gene-viz__match {
        position: absolute;
        background-color: tomato;
        opacity: 0.25;
      }
      .gene-viz__match.low-evalue {
        position: absolute;
        background-color: limeGreen;
        opacity: 0.25;
      }
      .gene-viz__match.accessory {
        background-color: cornflowerBlue;
        opacity: 0.5;
      }
    </style>
  </head>

  <body>
    <p>{{unique_hits_count}} total hits</p>

    {{#hits_per_scaffold}}
      <div class="scaffold-hits">
        <h2>{{target_name}}</h2>

        <p>Total scaffold length: {{target_length}} bp</p>

        <div class="gene-viz">
          {{#hits}}
            <div class="gene-viz__match {{#above_inclussion}}low-evalue{{/above_inclussion}} {{#accessory}}accessory{{/accessory}}" name="{{query_name}}" style="width: {{seq_percentage}}%; margin-left: {{seq_offset_percentage}}%;"></div>
          {{/hits}}
        </div>
        {{#hits}}
        <div class="gene" name="{{query_name}}">
          <div class="gene__match {{#above_inclussion}}low-evalue{{/above_inclussion}} {{#accessory}}accessory{{/accessory}}" style="width: {{seq_percentage}}%; margin-left: {{seq_offset_percentage}}%;"></div>
          <div class="gene__name" style="margin-left: {{seq_offset_percentage}}%;">
            {{query_name}}
          </div>
        </div>
        {{/hits}}

        <table class="hits-table">
          <tbody>
            <tr>
              <th>5'</th>
              <th>Range</th>
              <th>3'</th>
              <th></th>
              <th>Model</th>
              <th>Accession</th>
              <th>Length</th>
              <th>% of Target</th>
              <th colspan="2">Model % matched</th>
              <th>E-value</th>
              <th>Inclussion</th>
            </tr>

            {{#hits}}
              <tr class="{{#above_inclussion}}low-evalue{{/above_inclussion}} {{#accessory}}accessory{{/accessory}}">
                <td class="trunc">
                  {{#trunc_5}}«{{/trunc_5}}
                </td>

                <td class="range">
                  {{seq_from}} .. {{seq_to}}
                </td>

                <td class="trunc">
                  {{#trunc_3}}»{{/trunc_3}}
                </td>
                
                <td>({{strand}})</td>

                <td class="name">
                  {{query_name}}
                </td>

                <td class="accession">
                  {{query_accession}}
                </td>

                <td>
                  {{seq_length}}
                </td>

                <td>
                  {{seq_percentage}}%
                </td>

                <td>
                  {{#mdl_percentage}}
                    {{mdl_percentage}}%
                  {{/mdl_percentage}}
                </td>

                <td>
                  {{#mdl_length}}
                    ({{mdl_from}}-{{mdl_to}}/{{mdl_length}})
                  {{/mdl_length}}
                </td>

                <td>
                  {{e_value}}
                </td>

                <td>
                  {{#inclussion}}{{inclussion}}{{/inclussion}}
                </td>

                {{#extra_info}}
                  <td>
                    {{extra_info}}
                  </td>
                {{/extra_info}}
              </tr>
            {{/hits}}
          <tbody>
        </table>
      </div>
    {{/hits_per_scaffold}}
  </body>
</html>

