# Job name
#PBS -N "{{{ job_name }}}"

# Queue name
#PBS -q "{{{ queue_name }}}"

# Nodes (nodes) and cores per node (ppn)
#PBS -l nodes={{{ nodes }}}:ppn={{{ cores }}}

# Export all environment variables
#PBS -V

{{#mail}}
# Send emails when the job (a)borts, (b)egins, or (e)nds:
#PBS -m abe

# Recipient for the emails:
#PBS -M "{{{ mail }}}"
{{/mail}}
{{#output_filename}}

# Output filename:
#PBS -o {{{ output_filename }}}
{{/output_filename}}
{{#error_filename}}

# Error filename:
#PBS -o {{{ error_filename }}}
{{/error_filename}}

cd $PBS_O_WORKDIR

# Commands to run ( a.k.a The Job )

{{{ cmcalibrate_path }}} --cpu 1 {{{ covariance_model }}}
if grep --quiet "ECM" {{{ covariance_model }}}; then mv {{{ new_filename }}}; fi

